.header{
    padding: 10px 20px;
    background-color: #004040;
}

.header > nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > nav  #logo{
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        color: white;
}

.header > nav  ul{
    display: flex;
    gap: 20px;
    list-style: none;
    color: white;
}